# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env
.env.production
.env.development
.env.local
.env.*.local

# Production/Build output
dist/
build/
.next/
out/

# Operating System files & Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
backend/.env.prod
